*{
    background-color: rgb(151, 72, 151);
}
header{
    background-color: rgb(211, 211, 173);
}
section{
    background-color: blue;
}
.title{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
}

.searchbar{
    border: 3px solid darkgray;
    border-radius: 10px;
    padding:5px;
}

.list-border{
    border: 2px solid darkgray;
    padding: 5px;
    border-radius: 3px;
}

.list{        
    border-radius: 10px;
    display: flex;
    flex:right;
    list-style: none;
    color:inherit;
    font:40px;
    font-weight: bold;
    justify-content: space-evenly;
    margin:0px 30px;
    text-align: center;
}

.list a{
    color:#001055;
}

.text{
    text-align: center;
}

.list a:hover{
    color:white;
}

.list-border:hover{
    background-color: gray;
}

.main{
    border:none;
    font:45px Ink Free;
    font-weight: bold;
}

.drop{
    white-space: nowrap;
}

.section-list{
    width:250px;
    font:40px;
    font-weight: bold;
    justify-content: space-evenly;
    margin:100px 10px;
    text-align: center;
}

.sectionlist{
    border-radius: 10px;
    display: flex;
    color:inherit;
    font:40px;
    font-weight: bold;
    justify-content: space-evenly;
    text-align: center;
    padding:10px;
    margin:5px 5px;
    list-style: none;
}

.sectionlist:hover{
    background-color: gray;
}

.sectionul{
    margin:0px;
    padding:0px;
    border:2px solid darkgray;
}

.footerdiv{
    margin-top: 30px;
    padding-top: 30px;
    height:30px;
}


.drop-list::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.drop-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.divider{
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

@media screen and ((max-device-width: 428px)){
    
}